<tr>
    <th scope="row">
        <a class="nav-link" href="@editUrl">@Plan.Name</a>
    </th>
    <td>@Plan.EndpointUrl</td>
    <td>@Plan.UsersNumber</td>
    <td>@(@Plan.IsLooped ? "Looped" : "Not Looped")</td>
    <td>@Plan.Duration</td>
    <td>
        <a class="btn btn-primary" href="@executionsUrl">Executions</a>
        <a class="btn btn-info" href="@settingsUrl">Settings</a>
        <button class="btn btn-danger" @onclick="@(() => DeleteEvent.InvokeAsync(Plan))">Delete</button>
    </td>
</tr>

@code {
    private string editUrl;
    private string settingsUrl;
    private string executionsUrl;

    [Parameter] public Plan Plan { get; set; }
    [Parameter] public EventCallback<Plan> DeleteEvent { get; set; }

    protected override void OnInitialized()
    {
        editUrl = $"plan/edit/{Plan.Id}";
        settingsUrl = $"plan/settings/{Plan.Id}";
        executionsUrl = $"plan/executions/{Plan.Id}";
    }
}
